/*====================
=======Structure======
======================*/

body{
    /* indica el color del fondo */
    background-color: hsl(0, 0%, 100%);
    display:flex; 
    flex-direction:column;
    /* Distancia que hay fuera del div */
    margin: 0em auto;
    min-height: 100vh;
    width: 100%;
    /* background-image: url("https://s.itl.cat/pngfile/s/29-299907_kimi-no-na-wa-wallpaper-for-iphone-iphone.jpg"); */
}

header{
    display: flex;
    height: 10%;
    justify-content: space-between;
    padding: 0 5%;
    width: 90%;
    background-color: hsla(0, 0%, 81%, 0.589);
}

footer{
    margin-top: auto; 
    width: 100%;
    align-items: center;
}

/*====================
=======Structure======
======================*/


main{
    margin: 0 auto;
    position: relative;
    top: 2rem;
    width: 90%;
}

/*====================
========Columns=======
======================*/

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}


.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
========List=========
======================*/

.inline li{
    display: inline;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
    
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}

h4 {
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}

p{
    color: hsl(0, 0%, 100%);
    text-align: justify;
}

h6{
    text-align: left;
}


a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

.center{
    text-align: center;
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-label label{
        font-size: 2em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .copyright p{
        font-size: 1.5em;
    }
}


@media (max-width:1024px) {

    header{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
        margin: 1.5em 0;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}

@media (max-width:479px) {

    /*====================
    =======Structure======
    ======================*/

    main{
        margin: 0 auto;
        position: relative;
        top: 5rem;
        width: 95%;
    }

    /*====================
    ========Columns=======
    ======================*/

    .mobile-one-column{
        display: block;
        width: 100%;
    }

    .mobile-one-column .column{
        width: 100%;
    }

    .mobile-one-column-inline{
        display: inherit;
        width: 100%;
    }
    
    .mobile-one-column-inline .column{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .mobile-one-column-inline .column div{
        display: inherit;
        margin-right: 1em;
        width: 100%;
    }

    .mobile-two-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-two-columns .column{
        width: 48%;
    }

    .desktop-two-columns-aside .column-aside{
        display: none;
    }

    .mobile-two-columns-aside .column-main{
        width: 100%;
    }

    .mobile-three-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-three-columns .column{
        width: 30%;
    }

    .mobile-three-columns-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-three-columns-start .column{
        width: inherit;
    }

    .mobile-four-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-four-columns .column{
        width: 22%;
    }

/*=======================
  =======Menu============
  =======================*/

    header{
        width: 96%;
        height: max-content;
        padding: 1rem 0.5rem;

    }

    .menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu_element{
        margin: 0rem 0.5rem;
    }

    .menu_element h3{
        font-size: 0.5rem;
        width: 100%;
    }

    h1 {
        font-size: 100%;
    }
    
    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: small;
    }


    .featured-title{
        margin-top: 3rem;
    }
    .featured-elements{
        flex-wrap: wrap;
    }

    .featured-element{
        flex-basis: 100%;
        margin-top: 2rem;
    }

    .offer{
        flex-wrap: wrap;
    }

    .offer-text-description{
        margin: 1rem auto;
    }


    .offer-text{
        margin-top: 0%;
        padding-top: 0%;
        width: 100%;
    }
    
    .offer-image{
        width: 100%;
    }

    .copyright{
        margin: 1em 0;
    }

    .footer-element{
        display: none;
    }

    /*=======================
  =======Form============
  =======================*/

    .top-text h1{
        font-size: 2rem;
    }

    .contact-text{
        padding-right: 2rem;
    }

    .text-info{
        display: none;
    }


    .form-element{
        margin-top: 1.5rem;
    }

    .mobile-left{
        text-align: left;
    }

    .form-element-button{
        margin: 1rem 0rem;
        margin-top: 0.5rem;
    }
}




